In [103]:
# Load required libraries
import pandas as pd
import geopandas as gpd
import numpy as np
import os
import glob

In [104]:
# Path to data folders
indata_f = r'P:\Environment and Health\Noise\ServiceContract\2024_ServiceContract\QuietAreas'

# 1 READ URBAN CENTRES
# Read shapefile
uc_file_path = os.path.join(indata_f, 'UrbanCentres', 'HDC2021_RG_InputUpdateB2B3B4Copy.shp')
# Read the GeoPackage file
uc = gpd.read_file(uc_file_path)
uc['CNTR_CODE'].fillna('AA', inplace=True)

# Select cities for processing in this batch
###uc_sel = uc.query('Batch==1.0 & CNTR_CODE != "SE"')
uc_sel = uc.query('Batch>0')
uc_sel = uc_sel.sort_values(by='CNTR_CODE')

# Read table to list the cities to process using urban centre code
cities_ls = uc_sel.HDENS_CLST.tolist()
names_ls = uc_sel.HDENS_NAME.tolist()
ctr_ls = uc_sel.CNTR_CODE.tolist()
len(cities_ls)

240

In [105]:
qc_df = pd.DataFrame({
    'uc_code': cities_ls,
    'uc_name': names_ls,
    'ctry': ctr_ls  # This will be broadcasted to all rows
})

In [106]:
import os
import glob

# Define the path to your folder
folder_path = os.path.join(indata_f, 'Processing', 'step2_CleaningGQA')

# Use glob to find files ending with '_finalGQA.shp'
shp_files = glob.glob(os.path.join(folder_path, '*_finalGQA.shp'))

Final_GQA_ls = []

# Loop through the files and print the first 13 characters of the file name (without extension)
for file_path in shp_files:
    # Get the base name (filename without the path)
    base_name = os.path.basename(file_path)[:13]
    Final_GQA_ls.append(base_name)

In [107]:
len(Final_GQA_ls)

100

In [108]:
# Define the path to your folder
folder_path = os.path.join(indata_f, 'OutputData', 'GQA')

# Use glob to find files ending with '_finalGQA.shp'
shp_files = glob.glob(os.path.join(folder_path, '*_finalGQA.shp'))

final_GQA_output_ls = []

# Loop through the files and print the first 13 characters of the file name (without extension)
for file_path in shp_files:
    # Get the base name (filename without the path)
    base_name = os.path.basename(file_path)[:13]
    final_GQA_output_ls.append(base_name)

In [109]:
len(final_GQA_output_ls)

178

In [110]:
step2_ls = list(set(Final_GQA_ls + final_GQA_output_ls))
len(step2_ls)

180

In [111]:
# Define the path to your folder
folder_path = os.path.join(indata_f, 'OutputData', 'step1_GQA')

# Use glob to find files ending with '_finalGQA.shp'
shp_files = glob.glob(os.path.join(folder_path, '*_GQA.shp'))
outstep1_ls = []

# Loop through the files and print the first 13 characters of the file name (without extension)
for file_path in shp_files:
    # Get the base name (filename without the path)
    base_name = os.path.basename(file_path)[3:16]
    outstep1_ls.append(base_name)

In [112]:
step1_ls = list(set(outstep1_ls))
len(step1_ls)

58

In [113]:
total_step1 = list(set(Final_GQA_ls + final_GQA_output_ls + outstep1_ls))
len(total_step1)

237

In [114]:
step1_df = pd.DataFrame({
    'uc_code': step1_ls,
    'GQA_1': 1  # This will be broadcasted to all rows
})

In [115]:
step1_df

          uc_code  GQA_1
0   GEOSTAT21_221      1
1   GEOSTAT21_499      1
2   GEOSTAT21_354      1
3   GEOSTAT21_121      1
4   GEOSTAT21_443      1
5   GEOSTAT21_265      1
6   GEOSTAT21_248      1
7   GEOSTAT21_459      1
8   GEOSTAT21_141      1
9   GEOSTAT21_906      1
10  GEOSTAT21_432      1
11  GEOSTAT21_418      1
12  GEOSTAT21_242      1
13  GEOSTAT21_925      1
14  GEOSTAT21_305      1
15  GEOSTAT21_523      1
16  GEOSTAT21_297      1
17  GEOSTAT21_403      1
18  GEOSTAT21_320      1
19  GEOSTAT21_288      1
20  GEOSTAT21_800      1
21  GEOSTAT21_367      1
22  GEOSTAT21_440      1
23  GEOSTAT21_334      1
24  GEOSTAT21_184      1
25  GEOSTAT21_360      1
26  GEOSTAT21_437      1
27  GEOSTAT21_496      1
28  GEOSTAT21_347      1
29  GEOSTAT21_682      1
30  GEOSTAT21_140      1
31  GEOSTAT21_316      1
32  GEOSTAT21_398      1
33  GEOSTAT21_173      1
34  GEOSTAT21_181      1
35  GEOSTAT21_919      1
36  GEOSTAT21_328      1
37  GEOSTAT21_201      1
38  GEOSTAT21_945      1
39  GEOSTAT21_206      1
40  GEOSTAT21_205      1
41  GEOSTAT21_712      1
42  GEOSTAT21_307      1
43  GEOSTAT21_774      1
44  GEOSTAT21_302      1
45  GEOSTAT21_580      1
46  GEOSTAT21_274      1
47  GEOSTAT21_243      1
48  GEOSTAT21_404      1
49  GEOSTAT21_768      1
50  GEOSTAT21_196      1
51  GEOSTAT21_225      1
52  GEOSTAT21_216      1
53  GEOSTAT21_299      1
54  GEOSTAT21_519      1
55  GEOSTAT21_394      1
56  GEOSTAT21_676      1
57  GEOSTAT21_224      1

In [116]:
qc_df = qc_df.merge(step1_df, on='uc_code', how = 'left')

In [117]:
total_step2 = list(set(Final_GQA_ls + final_GQA_output_ls))
step2_df = pd.DataFrame({
    'uc_code': total_step2,
    'GQA_2': 1  # This will be broadcasted to all rows
})

In [118]:
qc_df = qc_df.merge(step2_df, on='uc_code', how = 'left')

In [119]:
qc_df

           uc_code    uc_name ctry  GQA_1  GQA_2
0    GEOSTAT21_495   Salzburg   AT    NaN    1.0
1    GEOSTAT21_479       Linz   AT    NaN    1.0
2    GEOSTAT21_481       Wien   AT    NaN    1.0
3    GEOSTAT21_520  Innsbruck   AT    NaN    1.0
4    GEOSTAT21_522       Graz   AT    NaN    1.0
..             ...        ...  ...    ...    ...
235  GEOSTAT21_054      Malmö   SE    NaN    1.0
236  GEOSTAT21_016   Västerås   SE    NaN    1.0
237  GEOSTAT21_013    Uppsala   SE    NaN    1.0
238  GEOSTAT21_029   Göteborg   SE    NaN    1.0
239  GEOSTAT21_018  Stockholm   SE    NaN    1.0

[240 rows x 5 columns]

In [120]:
# Define the path to your folder
folder_path = os.path.join(indata_f, 'OutputData', 'oct_run', 'step2_SA_final')

# Use glob to find files ending with '_finalGQA.shp'
shp_files = glob.glob(os.path.join(folder_path, '*_SA.shp'))
outstep3_ls = []

# Loop through the files and print the first 13 characters of the file name (without extension)
for file_path in shp_files:
    # Get the base name (filename without the path)
    base_name = os.path.basename(file_path)[:13]
    outstep3_ls.append(base_name)

In [121]:
step3_df = pd.DataFrame({
    'uc_code': outstep3_ls,
    'SA': 1  # This will be broadcasted to all rows
})

In [122]:
qc_df = qc_df.merge(step3_df, on='uc_code', how = 'left')
qc_df

           uc_code    uc_name ctry  GQA_1  GQA_2   SA
0    GEOSTAT21_495   Salzburg   AT    NaN    1.0  1.0
1    GEOSTAT21_479       Linz   AT    NaN    1.0  1.0
2    GEOSTAT21_481       Wien   AT    NaN    1.0  1.0
3    GEOSTAT21_520  Innsbruck   AT    NaN    1.0  1.0
4    GEOSTAT21_522       Graz   AT    NaN    1.0  1.0
..             ...        ...  ...    ...    ...  ...
235  GEOSTAT21_054      Malmö   SE    NaN    1.0  1.0
236  GEOSTAT21_016   Västerås   SE    NaN    1.0  1.0
237  GEOSTAT21_013    Uppsala   SE    NaN    1.0  1.0
238  GEOSTAT21_029   Göteborg   SE    NaN    1.0  1.0
239  GEOSTAT21_018  Stockholm   SE    NaN    1.0  1.0

[240 rows x 6 columns]

In [ ]:
qc_df.query('')

In [123]:
qc_df.to_csv(os.path.join(indata_f, 'OutputData', 'qc_2510.csv'), sep =',')